In [2]:
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import pandas as pd
import os
import numpy as np

from ads_utils import load_data, plot
data = load_data([2])

In [3]:
data

                    time    close  volume
0    2020-08-03 04:02:00  3180.01     513
1    2020-08-03 04:05:00  3182.91     403
2    2020-08-03 04:13:00  3180.00     577
3    2020-08-03 04:21:00  3179.74     328
4    2020-08-03 04:25:00  3179.95     704
...                  ...      ...     ...
9508 2020-08-28 19:09:00  3402.07     251
9509 2020-08-28 19:14:00  3403.00     228
9510 2020-08-28 19:38:00  3402.00     200
9511 2020-08-28 19:59:00  3402.00     610
9512 2020-08-28 20:00:00  3401.80     167

[9513 rows x 3 columns]

In [10]:
import statsmodels.api as sm
from statsmodels.tsa.ar_model import AutoReg
from statsmodels.tsa.ar_model import AR
import numpy as np

In [5]:
res = AutoReg(data.close, lags = 1).fit()

In [14]:
print(res.summary())

                            AutoReg Model Results
==============================================================================
Dep. Variable:                  close   No. Observations:                 9513
Model:                     AutoReg(1)   Log Likelihood              -23239.173
Method:               Conditional MLE   S.D. of innovations              2.785
Date:                Sat, 03 Oct 2020   AIC                              2.049
Time:                        03:05:15   BIC                              2.051
Sample:                             1   HQIC                             2.050
                                 9513
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
intercept      0.9080      0.937      0.969      0.333      -0.929       2.745
close.L1       0.9997      0.000   3456.125      0.000       0.999       1.000
                                    Roots
=============================================================================
                  Real          Imaginary           Modulus         Frequency
-----------------------------------------------------------------------------
AR.1            1.0003           +0.0000j            1.0003            0.0000
-----------------------------------------------------------------------------

In [8]:
res.params

intercept    0.907961
close.L1     0.999727
dtype: float64

In [13]:
res = AutoReg(data.close, lags = 1).fit()

In [16]:
mdl = AR(data.close).fit(maxlag=30,ic="aic",trend="c")

In [17]:
mdl.params

const       0.650978
L1.close    0.923368
L2.close    0.031175
L3.close    0.021309
L4.close    0.002689
L5.close    0.021266
dtype: float64

In [26]:
est_order = AR(data.close).select_order(maxlag=30, ic='aic', trend='c')
print(mdl.params)

const       0.650978
L1.close    0.923368
L2.close    0.031175
L3.close    0.021309
L4.close    0.002689
L5.close    0.021266
dtype: float64